<h2>Installation and set-up</h2>

<p class="text">Install ngx-zero-dialog</p>
<app-code-snippet [code]="installCode" language="javascript"></app-code-snippet>

<p class="text">
  Provide configuration in <code>app.config.ts</code> or
  <code>app.module.ts</code>
</p>
<app-code-snippet
  [code]="providerCode"
  language="javascript"
></app-code-snippet>

<p class="text">
  Setup dialog container in your root component with specific id
</p>
<app-code-snippet
  [code]="containerCode"
  language="javascript"
></app-code-snippet>

<p class="text">
  Add styles in assets in your <code>angular.json</code> file. It comes with
  pre-built dialog enter/leave animation and some utility styles
</p>
<app-code-snippet
  [code]="importStylesCode"
  language="javascript"
></app-code-snippet>
