<h3>Dialog Config example</h3>

<p class="text">
    When opening dialog, you can specify config as the second argument of openDialog() method. <br>

    Check out dialog config interface and example
</p>

<mat-tab-group>
    <mat-tab label="dialog-config.interface.ts">
        <app-code-snippet [code]="dialogConfigInterfaceCode" language="typescript"></app-code-snippet>
    </mat-tab>
    <mat-tab label="Open dialog with config">
        <app-code-snippet [code]="specifyConfigCode" language="javascript"></app-code-snippet>
    </mat-tab>
</mat-tab-group>