<ul class="toc">
  <li class="toc-item">
    <a href="#overview" [class.active]="getIsActive('overview')"> Overview </a>
  </li>
  <li class="toc-item">
    <a href="#install" [class.active]="getIsActive('install')">Installation</a>
  </li>
  <li class="toc-item">
    <a href="#examples" [class.active]="getIsActive('examples')">Examples</a>
  </li>
  <li class="toc-subitem">
    <a
      href="#component-based-modals"
      [class.active]="getIsActive('component-based-modals')"
      >Component modals</a
    >
  </li>
  <li class="toc-subitem">
    <a
      href="#template-based-modals"
      [class.active]="getIsActive('template-based-modals')"
      >Template modals</a
    >
  </li>
  <li class="toc-subitem">
    <a href="#dialog-config" [class.active]="getIsActive('dialog-config')"
      >Dialog Config</a
    >
  </li>
  <li class="toc-subitem">
    <a href="#dialog-data" [class.active]="getIsActive('dialog-data')"
      >Dialog Data</a
    >
  </li>
  <li class="toc-subitem">
    <a href="#custom-host" [class.active]="getIsActive('custom-host')"
      >Host component</a
    >
  </li>
</ul>
