<h2>Overview</h2>

<p class="text">
  <code>ngx-zero-dialog</code> is a lightweight, performance-focused Angular library designed
  to make creation of modal dialogs more flexible and maintainable. Built on the
  native HTML Dialog API, it leverages browser capabilities to enhance
  performance, ensure accessibility, and minimize code complexity.
</p>

<p class="text">
  When exploring the demo examples, open DevTools to observe how the DOM changes
  throughout the process.
</p>

<p class="text">
  For more information about Dialog API, refer to the
  <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog"
    >MDN documentation</a
  >
</p>

<blockquote>
  Requires Angular 16+
</blockquote>