<h2>Overview</h2>

<p class="text">
  ngx-dialog is a lightweight, performance-focused Angular library designed to
  simplify the creation of modal dialogs. Built on the native HTML Dialog API,
  it leverages browser capabilities to enhance performance, ensure
  accessibility, and minimize code complexity.
</p>

<p class="text">
  When exploring the demo examples, open DevTools to observe how the DOM changes
  throughout the process.
</p>

<p class="text">
  For more information, refer to the
  <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog"
    >MDN documentation</a
  >
  on the Dialog API.
</p>
