:host {
  display: block;
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  position: relative;
  width: 500px;
  max-height: 500px;
  height: auto;
  max-height: 500px;

  @media (max-width: 500px) {
    width: 300px;
    height: 400px;
    padding: 8px;
  }
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 0 32px;
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
