.main {
    margin: 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    max-width: 1200px;
}

.toc {
    position: fixed;
    padding: 0 16px;
    top: 120px;
    width: fit-content;

    .toc-item {
        padding: 8px 0;
    }

    .toc-subitem {
        padding-inline-start: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    a {
        text-decoration: none;
        color: #fff;

        &.active {
            text-decoration: underline;
        }
    }
}

.content {
    margin-left: 260px;
}