:host {
  position: relative;
  display: block;
  overflow: hidden;
}
pre {
  display: flex;
}

.code-snippet {
  line-height: 24px;
  width: 100%;
  font-family: monospace;
  background: #f6f8fa;
}

.copy {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;  
}


.copied-msg {
  color: #22DD22;
}