<h3>Host component example</h3>

<p class=text>
    You can specify custom host component for dialogs with some built-in template and any functionality you want.
    <button class="button" (click)="openDialogWithCustomHost()">Open dialog with custom host</button>
</p>

<p class="text">
    There is some requirements for host component to be able to render components or templates: <br />
</p>
<ul>
    <li>Custom host should extend DialogHostBase class</li>
    <li>Custom host should have content insertion point in template, where your content will be rendered</li>
</ul>

<p class="text">
    Also, you can provide any additional fields in dialogConfig to be accessed in host component
</p>

<mat-tab-group>
    <mat-tab label="my-custom-host-component.ts">
        <app-code-snippet language="typescript" [code]="customHostComponentCode"></app-code-snippet>
    </mat-tab>
    <mat-tab label="Open dialog with custom host">
        <app-code-snippet language="typescript" [code]="openDialogWithCustomHostCode"></app-code-snippet>
    </mat-tab>
</mat-tab-group>

