@import "../projects/ngx-zero-dialog/src/lib/styles/ngx-dialog.scss";
@import "./reset.scss";
@import "highlight.js/scss/github.scss";

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  color: #000;
  background-attachment: fixed;

  &::-webkit-scrollbar {
    display: none;
  }
}

dialog.ngx-zero-dialog-hidden {
  height: 0px;
}

dialog.ngx-zero-dialog-visible {
  height: 400px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

p.text {
  padding: 10px 0;
  font-size: 16px;
  line-height: 24px;
}
