@import "./reset.scss";
@import "highlight.js/scss/github.scss";
// @import "../dist/ngx-zero-dialog/styles/ngx-zero-dialog.scss";
@import "../projects/ngx-zero-dialog/styles/ngx-zero-dialog.scss";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --mat-app-primary: rgba(0, 0, 0, 0.8);
  --mdc-tab-indicator-active-indicator-color: var(--mat-app-primary);
  --mat-tab-header-active-focus-indicator-color: var(--mat-app-primary);

  font-smooth: antialised;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: #fff;
  color: #000;
}

dialog.ngx-zero-dialog-hidden {
  transform: translateY(1000px);
}

dialog.ngx-zero-dialog-visible {
  transform: unset;
}

h2 {
  display: block;
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

h3 {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

p.text {
  padding: 10px 0;
  font-size: 18px;
  line-height: 28px;
}

input {
  display: block;
  background: #f6f8fa;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 8px 16px;
  font-size: 16px;
}

button {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 12px;
  border: 1px solid black;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

blockquote {
	padding: 10px 10px 15px;
	background: #f6f8fa;
	border-left: 2px solid #c7d9f5;
	color: #005cc5;
  margin: 12px;
  line-height: 20px;
}

code {
  font-family: "Space Grotesk";
  font-weight: bold;
}
